<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ site.title | prepend: ' - ' | prepend: page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->
    <link rel="icon" type="image/png" href="/logo-256.png" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
    <link rel="canonical" href="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <meta content="1556386487762936" property="fb:app_id">
    <meta content="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}" property="og:url">
    {% if page.date %}
    <meta content="article" property="og:type">
    <meta content="{{ page.title }}" property="og:title">
    <!-- <meta content="{{ site.url }}/about/" property="article:author"> -->
    {% else %}
    <meta content="website" property="og:type">
    <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
    {% else %}
    <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.banner_image %}
    <meta content="{{ page.banner_image | prepend: '/images/posts/' | prepend: site.url }}" property="og:image">
    {% endif %}
    {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
    {% endif %}

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "{% if page.date %}BlogPosting{% else %}{% endif %}",
        "author": {
          "@type": "Person",
          "name": "{{ site.author_name }}"
        },
        {% if page.description %}
        "description": "{{ page.description | smartify }}",
        {% endif %}
        {% if page.date %}
        "dateModified": "{{ page.date | date_to_xmlschema }}",
        "datePublished": "{{ page.date | date_to_xmlschema }}",
        {% endif %}
        {% if page.title %}
        "headline": "{{ page.title | smartify }}",
        {% endif %}
        {% if page.tags %}
        {% if page.banner_image %}
        "image": "{{ '/images/posts/' | append: page.banner_image | prepend: site.url }}",
        {% endif %}
        "keywords": "{{ page.tags | array_to_sentence_string: '' | replace: ',' ,'' | replace: '  ', ' ' }}",
        {% endif %}
        "mainEntityOfPage": {
          "@type": "Blog",
          "@id": "{{ site.url }}"
        },
        "publisher": {
          "@type": "Organization",
          "name": "{{ site.author_name }}",
          "logo": {
            "@type": "ImageObject",
            "url": "{{ '/images/logo-512.png' | prepend: site.url }}"
          }
        },
        "wordcount": "{{ page.content | number_of_words }}",
        "url": "{{ page.url | prepend: site.url }}"
      }
    </script>
</head>
<body>
    <nav id="top" class="site-navigation">
        <div class="inner">
            <button id="menu-toggle" aria-expanded="false">Menu</button>
            <div class="nav-menu">
                <ul class="menu">
                {% for link in site.navigation %}
                  {% assign current = nil %}
                  {% if page.url == link.url %}
                    {% assign current = 'nav-current' %}
                  {% endif %}
                  <li class="{{ current }}">
                    <a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
                  </li>
                {% endfor %}
                </ul>
            </div><!-- .nav-menu -->
            <a class="subscribe-button fa-feed square fill-horizontal" href="{{site.baseurl}}/feed.xml"><span class="screen-reader-text">Subscribe</span></a>
        </div><!-- .inner -->
    </nav><!-- .site-navigation -->
    <header class="site-header">
        <div class="inner">
            <h1 class="site-title"><a class="logo-text" href="{{ site.baseurl }}/">{{site.title}}</a></h1>
            <p class="site-description">{{site.tagline}}</p>
        </div><!-- .inner -->
    </header>
    {{content}}
    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/plugins.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/custom.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9248632-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-9248632-1');
    </script>
</body>
</html>
